<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">



  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <img class="portrait" src="/img/shahi.jpg" alt="">
    </div>

    {{>footer}}
  </body>
</html>
